form {
  margin: 25px;
  display: flex;
  align-items: center;
  gap: 10px;

  select {
    height: 40px;
    width: 300px;
  }

  button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    img{
      width: 30px;
      height: 30px;
    }
    &:disabled {
      cursor: default;
    }
  }
}
